<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
  <div class="jp_first_right_sidebar_main_wrapper">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="jp_add_resume_wrapper">
          <div class="jp_add_resume_img_overlay"></div>
          <div class="jp_add_resume_cont">
            <%= image_tag "content/resume_logo.png", title: "logo" %>
            <h4>Get Best Matched Jobs On your Email. Add Resume NOW!</h4>
            <ul>
              <li><a href="#"><i class="fa fa-plus-circle"></i> &nbsp;ADD RESUME</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="jp_spotlight_main_wrapper">
          <div class="spotlight_header_wrapper">
            <h4>Job Spotlight</h4>
          </div>
          <div class="jp_spotlight_slider_wrapper">
            <div class="owl-carousel owl-theme">
              <div class="item">
                <div class="jp_spotlight_slider_img_Wrapper">
                  <%= image_tag "content/spotlight_img.jpg", title: "spotlight_img" %>
                </div>
                <div class="jp_spotlight_slider_cont_Wrapper">
                  <h4>HTML Developer (1 - 2 Yrs Exp.)</h4>
                  <p>Webstrot Technology Ltd.</p>
                  <ul>
                    <li><i class="fa fa-cc-paypal"></i>&nbsp; $12K - 15k P.A.</li>
                    <li><i class="fa fa-map-marker"></i>&nbsp; Caliphonia, PO 455001</li>
                  </ul>
                </div>
                <div class="jp_spotlight_slider_btn_wrapper">
                  <div class="jp_spotlight_slider_btn">
                    <ul>
                      <li><a href="#"><i class="fa fa-plus-circle"></i> &nbsp;ADD RESUME</a></li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="jp_spotlight_slider_img_Wrapper">
                  <%= image_tag "content/spotlight_img.jpg", title: "spotlight_img" %>
                </div>
                <div class="jp_spotlight_slider_cont_Wrapper">
                  <h4>HTML Developer (1 - 2 Yrs Exp.)</h4>
                  <p>Webstrot Technology Ltd.</p>
                  <ul>
                    <li><i class="fa fa-cc-paypal"></i>&nbsp; $12K - 15k P.A.</li>
                    <li><i class="fa fa-map-marker"></i>&nbsp; Caliphonia, PO 455001</li>
                  </ul>
                </div>
                <div class="jp_spotlight_slider_btn_wrapper">
                  <div class="jp_spotlight_slider_btn">
                    <ul>
                      <li><a href="#"><i class="fa fa-plus-circle"></i> &nbsp;ADD RESUME</a></li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="jp_spotlight_slider_img_Wrapper">
                  <%= image_tag "content/spotlight_img.jpg", title: "spotlight_img" %>
                </div>
                <div class="jp_spotlight_slider_cont_Wrapper">
                  <h4>HTML Developer (1 - 2 Yrs Exp.)</h4>
                  <p>Webstrot Technology Ltd.</p>
                  <ul>
                    <li><i class="fa fa-cc-paypal"></i>&nbsp; $12K - 15k P.A.</li>
                    <li><i class="fa fa-map-marker"></i>&nbsp; Caliphonia, PO 455001</li>
                  </ul>
                </div>
                <div class="jp_spotlight_slider_btn_wrapper">
                  <div class="jp_spotlight_slider_btn">
                    <ul>
                      <li><a href="#"><i class="fa fa-plus-circle"></i> &nbsp;ADD RESUME</a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="jp_rightside_job_categories_wrapper">
          <div class="jp_rightside_job_categories_heading">
            <h4>Jobs by Category</h4>
          </div>
          <div class="jp_rightside_job_categories_content">
            <ul>
              <li><i class="fa fa-caret-right"></i> <a href="#">Graphic Designer <span>(214)</span></a></li>
              <li><i class="fa fa-caret-right"></i> <a href="#">Engineering Jobs <span>(514)</span></a></li>
              <li><i class="fa fa-caret-right"></i> <a href="#">Mainframe Jobs <span>(554)</span></a></li>
              <li><i class="fa fa-caret-right"></i> <a href="#">Legal Jobs <span>(457)</span></a></li>
              <li><i class="fa fa-caret-right"></i> <a href="#">IT Jobs <span>(1254)</span></a></li>
              <li><i class="fa fa-caret-right"></i> <a href="#">R&D Jobs <span>(554)</span></a></li>
              <li><i class="fa fa-caret-right"></i> <a href="#">Government Jobs <span>(350)</span></a></li>
              <li><i class="fa fa-caret-right"></i> <a href="#">PSU Jobs <span>(221)</span></a></li>
              <li><i class="fa fa-plus-circle"></i> <a href="#">View All Categories</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="jp_rightside_career_wrapper">
          <div class="jp_rightside_career_heading">
            <h4>Career Advice</h4>
          </div>
          <div class="jp_rightside_career_main_content">
            <div class="jp_rightside_career_content_wrapper">
              <div class="jp_rightside_career_img">
                <%= image_tag "content/career_img1.jpg", title: "career_img" %>
              </div>
              <div class="jp_rightside_career_img_cont">
                <h4>Job Seekeks OCT - 2017</h4>
                <p><i class="fa fa-calendar-o"></i> &nbsp;20 OCT, 2017</p>
              </div>
            </div>
            <div class="jp_rightside_career_content_wrapper">
              <div class="jp_rightside_career_img">
                <%= image_tag "content/career_img2.jpg", title: "career_img" %>
              </div>
              <div class="jp_rightside_career_img_cont">
                <h4>Job Seekeks OCT - 2017</h4>
                <p><i class="fa fa-calendar-o"></i> &nbsp;20 OCT, 2017</p>
              </div>
            </div>
            <div class="jp_rightside_career_content_wrapper">
              <div class="jp_rightside_career_img">
                <%= image_tag "content/career_img3.jpg", title: "career_img" %>
              </div>
              <div class="jp_rightside_career_img_cont">
                <h4>Job Seekeks OCT - 2017</h4>
                <p><i class="fa fa-calendar-o"></i> &nbsp;20 OCT, 2017</p>
              </div>
            </div>
            <div class="jp_rightside_career_btn">
              <a href="#"><i class="fa fa-plus-circle"></i> View All</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="jp_rightside_job_categories_wrapper">
          <div class="jp_rightside_job_categories_heading">
            <h4>Jobs by Category</h4>
          </div>
          <div class="jp_rightside_job_categories_content">
            <ul>
              <li><i class="fa fa-caret-right"></i> <a href="#">Graphic Designer <span>(214)</span></a></li>
              <li><i class="fa fa-caret-right"></i> <a href="#">Engineering Jobs <span>(514)</span></a></li>
              <li><i class="fa fa-caret-right"></i> <a href="#">Mainframe Jobs <span>(554)</span></a></li>
              <li><i class="fa fa-caret-right"></i> <a href="#">Legal Jobs <span>(457)</span></a></li>
              <li><i class="fa fa-caret-right"></i> <a href="#">IT Jobs <span>(1254)</span></a></li>
              <li><i class="fa fa-plus-circle"></i> <a href="#">View All Categories</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
