<div class="jp_regiter_top_heading">
  <p>Fields with * are mandetory </p>
</div>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {multipart: true}) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
  <div class="row">
    <!--Form Group-->
    <div class="form-group col-md-6 col-sm-6 col-xs-12">
      <%= f.label :name, "Name:", class: "require" %>
      <%= f.text_field :name %>
    </div>

    <!--Form Group-->
    <div class="form-group col-md-6 col-sm-6 col-xs-12">
      <%= f.label :email, "Email:", class: "require" %>
      <%= f.email_field :email %>
    </div>
    <!--Form Group-->
    <div class="form-group col-md-6 col-sm-6 col-xs-12">
      <%= f.label :password, "Password:", class: yield(:class) %>
      <%= f.password_field :password %>
      <span class="subtext">
        <% if yield(:title).eql?("Sign up")  %>
          (Length should be 8-70 characters and include: 1 uppercase, 1 lowercase, 1 digit and 1 special character)
        <% else %>
          (leave blank to keep password)
        <% end %>
      </span>
    </div>
    <!--Form Group-->
    <div class="form-group col-md-6 col-sm-6 col-xs-12">
      <%= f.label :password_confirmation, "Password confirmation:", class: yield(:class) %>
      <%= f.password_field :password_confirmation %>
    </div>
    <!--Form Group-->
    <div class="form-group col-md-6 col-sm-6 col-xs-12 custom_input">
      <% unless yield(:title).eql?("Edit #{resource_name.to_s.humanize}") %>
        <%= f.label :avatar, "Avatar:" do %>
          <%= f.file_field :avatar, accept: "image/jpeg,image/gif,image/png" %>
          <%= f.hidden_field :avatar_cache %>
        <% end %>
      <% else %>
        <%= f.label :avatar, class: "select-avatar point" do %>
          <%= show_avatar "medium" %>
          <div class="top-over">
            <span>Select Image</span>
          </div>
        <% end %>
        <%= f.file_field :avatar, class: "chose-img hidden", accept: "image/jpeg,image/gif,image/png" %>
      <% end %>
      <p>JPG, JPEG, GIF, PNG - 5MB MAX SIZE</p>
    </div>
    <!--Form Group-->
    <div class="form-group col-md-6 col-sm-6 col-xs-12">
      <%= f.label :birthday, "Birthday:" %>
      <%= f.date_field :birthday, class: "birthday form-control" %>
    </div>
  </div>
  <div class="form-group row">
    <%= f.label :gender, "Gender", class: "col-sm-2 col-form-label" %>
    <div class="col-sm-5">
      <%= f.label :gender_male, "Male" %>
      <%= f.radio_button :gender, "male", checked: true %>
    </div>
    <div class="col-sm-5">
      <%= f.label :gender_female, "Female" %>
      <%= f.radio_button :gender, "female" %>
    </div>
  </div>
  <% unless yield(:title).eql?("Edit #{resource_name.to_s.humanize}")  %>
    <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="check-box text-center">
        <%= f.check_box :role, {}, "recruiter", "candidate" %>
        <%= f.label :role, "For Recruiter" %>
      </div>
    </div>
  <% end %>
  <div class="form-group">
    <!-- <%= recaptcha_tags %> -->
  </div>
  <div class="login_btn_wrapper register_btn_wrapper login_wrapper ">
    <%= f.submit yield(:button), class: "btn btn-primary login_btn" %>
  </div>
  <% end %>
