<div class="card">
  <div class="card-header card-header-primary">
    <h4 class="card-title"><%= yield :title %> Your Company</h4>
  </div>
  <div class="card-body">
    <%= form_for [:admin, company], html: {multipart: true} do |f| %>
      <div class="row">
        <div class="col-md-12">
          <div class="form-group bmd-form-group">
            <%= f.label :name, "Company Name: ", class: "bmd-label-floating " %>
            <%= f.text_field :name, class: "form-control" %>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-8">
          <div class="form-group bmd-form-group">
            <%= f.label :website, "Company Website: ", class: "bmd-label-floating" %>
            <%= f.text_field :website, class: "form-control" %>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group row">
            <%= f.label :founded, "Company Founded: ", class: "col-sm-6" %>
            <div class="col-sm-6">
              <%= date_field_tag "company[founded]", company.founded, {class: "form-control"} %>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="form-group bmd-form-group">
            <%= f.label :address, "Company Address: ", class: "bmd-label-floating" %>
            <%= f.text_field :address, class: "form-control" %>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <div class="form-group bmd-form-group">
              <%= f.label :description, "Company Description: ", class: "bmd-label-floating" %>
              <%= f.text_area :description, class: "form-control", rows: "5" %>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <div class="form-group bmd-form-group">
              <%= f.label :avatar, class: "select-avatar point" do %>
              <%= show_company_avatar "medium" %>
                <div class="top-over">
                  <span>Select Image</span>
                </div>
              <% end %>
              <%= f.file_field :avatar, class: "chose-img hidden" %>
            </div>
          </div>
        </div>
      </div>
      <%= f.submit yield(:btn), class: "btn btn-primary pull-right" %>
      <div class="clearfix"></div>
    <% end %>
  </div>
</div>
