  <div class="gc_main_menu_wrapper">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 hidden-xs hidden-sm full_width">
          <div class="gc_header_wrapper">
            <div class="gc_logo">
              <%= link_to root_path do %>
                <% if check_page yield :title %>
                  <%= image_tag "header/logo.png", title: "Job Pro", class: "img-responsive" %>
                <% else %>
                  <%= image_tag "header/logo2.png", title: "Job Pro", class: "img-responsive" %>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
        <div class="col-lg-7 col-md-8 col-sm-12 col-xs-12 center_responsive">
          <div class="header-area hidden-menu-bar stick" id="sticker">
            <!-- mainmenu start -->
            <div class="mainmenu">
              <div class="gc_right_menu">
              </div>
              <ul class="float_left">
                <li class="has-mega gc_main_navigation">
                    <%= link_to "Home", root_path %>
                </li>
                <li class="has-mega gc_main_navigation"><a href="#" class="gc_main_navigation">
                    Job&nbsp;<i class="fa fa-angle-down"></i></a>
                  <!-- mega menu start -->
                  <ul>
                    <li class="parent"><a href="listing_left.html">Listing-Left</a></li>
                    <li class="parent"><a href="listing_right.html">Listing-Right</a></li>
                    <li class="parent"><a href="listing_single.html">listing_single.html</a></li>

                  </ul>
                </li>
                <li class="parent gc_main_navigation"><a href="#" class="gc_main_navigation">candidates
                    &nbsp;<i class="fa fa-angle-down"></i></a>
                  <!-- sub menu start -->
                  <ul>
                    <li class="parent"><a href="company_listing.html">Company-Listing</a></li>
                    <li class="parent"><a href="company_listing_single.html">Company-Single</a></li>
                    <li class="parent"><a href="candidate_listing.html">candidate-Listing</a></li>
                    <li class="parent"><a href="candidate_profile.html">candidate-Profile</a></li>

                  </ul>
                  <!-- sub menu end -->
                </li>
                <li class="gc_main_navigation parent"><a href="contact.html" class="gc_main_navigation">Contact</a></li>
              </ul>
            </div>
            <!-- mainmenu end -->
          </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-12 col-xs-12 hidden-sm hidden-xs">
          <% if user_signed_in? %>
            <div class="infor-dropdow">
              <div class="btn-group">
                <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <% if current_user.avatar.url.present? %>
                    <%= image_tag current_user.avatar.url, class: "avatar" %>
                  <% else %>
                    <%= image_tag "content/default-avatar.png", class: "avatar" %>
                  <% end %>
                  <%= current_user.name %><i class="fa fa-angle-down"></i>
                </button>
                <div class="dropdown-menu">
                  <a class="dropdown-item" href="#">Action</a>
                  <a class="dropdown-item" href="#">Another action</a>
                  <a class="dropdown-item" href="#">Something else here</a>
                  <div class="dropdown-divider"></div>
                  <%= link_to "Sign out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
                </div>
              </div>
            </div>
          <% else %>
            <div class="jp_navi_right_btn_wrapper">
              <ul>
                <li>
                  <%= link_to new_user_registration_path do %>
                    <i class="fa fa-user"></i>&nbsp; SIGN UP
                  <% end %>
                </li>
                <li>
                  <%= link_to new_user_session_path do %>
                  <i class="fas fa-sign-in-alt"></i>&nbsp; LOGIN
                  <% end %>
                </li>
              </ul>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
