<div class="logo">
  <a href="http://www.creative-tim.com" class="simple-text logo-mini">
    CT
  </a>
  <a href="http://www.creative-tim.com" class="simple-text logo-normal">
    Creative Tim
  </a>
</div>
<div class="sidebar-wrapper">
  <ul class="nav">
    <li class="nav-item active">
      <%= link_to admin_root_path, class: "nav-link" do %>
        <i class="fas fa-stream"></i>
        Dashbroad
      <% end %>
    </li>
    <% if current_user.company.present? %>
      <li class="nav-item">
        <%= link_to edit_admin_company_path(current_user.company), class: "nav-link" do %>
          <i class="fas fa-building"></i>
          Edit Company
        <% end %>
      </li>
      <li class="nav-item">
        <%= link_to "#manage-jobs", data: {toggle: "collapse"},
        class: "nav-link", aria: {expanded: "false", controls: "manage-jobs"} do %>
          <i class="fas fa-scroll"></i>
          <span>Job</span>
          <i class="fas fa-sort-down float-right"></i>
        <% end %>
        <div class="collapse" id="manage-jobs">
          <ul class="nav flex-column sub-menu">
            <li class="nav-item">
              <%= link_to "Create job", new_admin_job_path %>
            </li>
            <li class="nav-item">
              <%= link_to "List job", admin_jobs_path %>
            </li>
          </ul>
        </div>
      </li>
    <% end %>
  </ul>
</div>
