<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield :title) %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "admin_application", media: "all", "data-turbolinks-track": "reload" %>
    <%= javascript_pack_tag "application", "data-turbolinks-track": "reload" %>
    <%= javascript_include_tag Ckeditor.cdn_url %>
  </head>
  <body class="body admin-layout">
    <%= toastr_flash %>
    <div class="sidebar" data-color="purple" data-background-color="white">
      <%= render "layouts/sidebar_admin" %>
    </div>
    <div class="main-panel">
      <!-- Navbar -->
      <%= render "layouts/nav_bar" %>
      <!-- End Navbar -->
      <div class="content">
        <div class="container-fluid">
          <p class="notice"><%= notice %></p>
          <p class="alert"><%= alert %></p>
          <%= yield %>
        </div>
      </div>
      <%= render 'layouts/admin_footer' %>
    </div>
  </body>
</html>
